/* 
PAGE ACCUEIL
*/

html {
  color: white;
  background-color: rgb(24, 24, 24);
  font-family: "Segoe UI", sans-serif;
  padding: 2%;
}

body {
  padding: 0;
  margin: 0 auto;
}

img {
  height: 400px;
  width: 300px;
  border-radius: 5%;
  margin: 0 auto;
}

h1 {
  font-family: "Bebas Neue";
  letter-spacing: 0.2rem;
  font-size: 300%;
  text-align: center;
}

#LogoNetflixGrand {
  height: 10%;
  width: 300px;
  vertical-align: middle;
}

h2 {
  font-family: "Bebas Neue";
  letter-spacing: 0.2rem;
  font-size: 200%;
}

h3 {
  margin: 0;
  font-size: 150%;
}

main h3 {
  height: 100px;
}

#LogoNetflixPetit {
  height: 60px;
  width: auto;
  border-radius: 15px;
}

nav ul {
  font-family: "Bebas Neue";
  letter-spacing: 0.2rem;
  margin: 0 auto;
  padding: 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
}

nav ul li a {
  color: grey;
  font-weight: bold;
}

nav ul li {
  margin: 1%;
  padding: 0.5% 1%;
}

main ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

li {
  list-style: none;
}

main li {
  margin: 0 0 0 1%;
}

nav a {
  text-decoration: none;
  font-size: 150%;
}

header div {
  display: flex;
  justify-content: space-around;
  justify-items: first baseline;
  margin: 1% auto;
  text-align: left;
}

header article {
  margin: 0 2%;
  padding: 1%;
  height: 300px;
  width: 30%;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom right, #4b1c5d, #3c216e, #120c1f);
  border-radius: 5%;
}

header article ul {
  height: 30%;
  padding: 0;
}

header article li {
  margin: 1%;
}

#sectionOffres {
  margin-bottom: 5%;
}

svg {
  vertical-align: middle;
  margin-right: 5%;
}

header article p {
  justify-content: right;
}

main div {
  display: flex;
}

main article {
  margin: 1%;
  width: 60%;
  padding: 1%;
  back
}

main article p {
  text-align: justify;
}

main ul li {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  color: whitesmoke;
}

article a {
  text-decoration: none;
  color: white;
}

/* 
PAGE JAQUETTE
*/

#LogoNetflixPetit {
  height: 60px;
}

iframe {
  border-radius: 15px;
}
